@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    margin-bottom: 10px;
    font-family: 'Kanit', sans-serif;
}



.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: #6d61d4;
    text-decoration: none;
}


.logo {
    font-size: 48px;
    color: #6d61d4;
    font-weight: bold;
}

.ul-text {
    color: #6d61d4;
    font-size: 30px;
}

.active-nav {
    font-weight: bold;
}
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column; /* Display each li on a new row */
        align-items: center; /* Center the items vertically */
        padding: 20px;
    }
    .navbar  {
        flex-direction: column; /* Display each li on a new row */
        align-items: center; /* Center the items vertically */
        padding: 20px;
    }
    
    .navbar li {
        margin: 10px 0;
    }
    
    .logo {
        font-size: 36px;
    }
    
    .ul-text {
        font-size: 24px;
    }
}

  
  @media (min-width: 769px) and (max-width: 1200px) {
    .navbar{
        width: 90%;
    }
  }
  
  @media (min-width: 1201px) {
    .navbar{
        width: 90%;
    }
  }